:root {
    --web-primary: #007ea7;
    --web-body: #003459;
}

body {
    color: var(--web-body);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

nav {
    background-color: #e5f6fd;
}

span {
    font-size: 13px;
    font-weight: 600;
}

span i {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #e5f6fd;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #007ea7;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #003459;
}

a {
    color: var(--web-primary);
}

.navbar-brand {
    max-width: 300px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1530px;
        padding: 0 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1560px) {

    section .container,
    footer .container {
        padding: 0 5%;
    }
}

@media (min-width: 768px) {
    .gap-md-3 {
        gap: 1rem !important;
    }
}

li.breadcrumb-item {
    font-size: 12px;
    font-weight: 600;
    color: var(--web-primary);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '';
    border-left: 1px solid #e0e0e0;
    height: 20px;
    margin-top: 1px;
    transform: rotate(20deg);
}

.color-primary {
    color: var(--web-primary);
}

.text-dark {
    color: var(--web-body) !important;
}

form.search-box {
    border-radius: 5px;
    height: 45px;
    background: #fbfbfb;
    border: #d6d4d4 solid 2px;
}

form.search-box .form-control {
    outline: 0;
    color: #9c9b9b;
}

form.search-box .form-control.sub::-webkit-input-placeholder {
    color: #ffffff;
}

form.search-box .form-control.sub::-moz-placeholder {
    color: #ffffff;
}

form.search-box .form-control.sub:-ms-input-placeholder {
    color: #ffffff;
}

form.search-box .form-control.sub::-ms-input-placeholder {
    color: #ffffff;
}

form.search-box .form-control.sub::placeholder {
    color: #ffffff;
}

form.search-box .form-control:focus,
form.search-box .src-btn:active {
    outline: 0 !important;
    box-shadow: none !important;
    border: 0;
    border-left: 1px solid;
}

.form-control {
    font-size: 13px;
}

.cart-btn-wrapper {
    background: #007ea7;
    color: #fff;
    border-radius: 5px;
    height: 45px;
    box-shadow: 1px 1px 5px #888;
    font-size: 13px;
}

.user-icon {
    font-size: 45px;
    line-height: 45px;
}

.cart-icon {
    font-size: 22px;
}

.product-card .cart-icon {
    font-size: 16px;
    margin-right: 5px;
}

.navItems {
    transition: 0.3s ease;
}

.navItems.colored {
    background-color: #e50016;
    color: #fff;
    border-radius: 5px;
}

.navItems:hover {
    background-color: #cce5ed;
}

.hero-slider .carousel-icon i {
    font-size: 20px;
}

.hero-slider .carousel-control-next,
.hero-slider .carousel-control-prev {
    top: 50%;
    bottom: unset;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #e5f6fd;
    color: var(--web-primary);
    opacity: 1;
    transform: translate(0, -50%);
    border: #DDD solid 2px;
}

.hero-slider .carousel-icon:hover {
    color: var(--web-primary);
}

.hero-slider .carousel-control-prev {
    left: -22px;
}

.hero-slider .carousel-control-next {
    right: -22px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    color: #555454;
    border-bottom: 3px solid transparent !important;
}

.nav-link:hover,
.nav-link.active {
    background: #e5f6fd !important;
    color: #143251 !important;
    border-bottom: 3px solid #143251 !important;
}

a.productss-img img {
    margin: auto;
    max-width: 250px;
    object-fit: contain;
}

h5.product-title {
    font-size: 17px;
    max-width: 277px;
    margin: auto;
    font-family: arial;
    font-weight: 700;
    min-height: 40px;
}

h5.product-title:hover {
    color: #515151;
}

.product-desc {
    font-size: 13px;
    min-height: 40px;
}

.availability_status {
    color: #00dd00;
}

@media (min-width: 991px) {
    .add-cart-btn {
        display: none !important;
        transition: 0.4s ease;
    }

    .product-card {
        height: 465px;
    }

    .product-card:hover .add-cart-btn {
        display: flex !important;
    }
}

.product-card {
    width: 100%;
}

li.item {
    width: 99%;
}

.lSAction>a {
    filter: brightness(0.5);
}

.availability_status {
    font-size: 11px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #222;
    transition: 0.4s ease-in-out;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #007ea7;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 0;
    background-image: url(../image/cS-1.png) !important;
    background-color: transparent !important;
    filter: brightness(0.5);
    width: 30px;
    height: 30px;
}

.owl-nav button span {
    visibility: hidden;
}

.owl-next {
    right: 0;
    background-position: top right !important;
}

.owl-prev {
    left: 0;
    background-position: top left !important;
}

.product-gallery img {
    background: #fbfbfb;
    width: 100%;
    max-width: 458px;
    display: block;
    margin: 0 auto;
}

.zoom-icon {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}

.blog-heading {
    background-color: #e5f6fd;
    border-color: #143251 !important;
}

.fs-13 {
    font-size: 13px;
}

.fs-18 {
    font-size: 18px;
}

.variants_btn {
    font-size: 13px;
    padding: 10px;
    border-radius: 4px;
    background-color: #e5f6fd;
    border: var(--web-primary) solid 1px;
    color: #727272;
    text-decoration: none;
}

.variants_btn:hover {
    color: #454545;
}

.product-availability-status {
    color: #00dd00;
}

.product-price-wrapper {
    border: #ddd solid 1px;
    background-color: #e5f6fd;
}

.cart-btn-wrapper.cart-btn-lg {
    padding: 10px 20px;
    height: 53px;
    font-size: 16px;
}

#quantityField.form-control {
    margin: 0 5px;
    width: 70px;
    font-size: 14px;
}

#quantityField.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(13, 110, 253, 0.25);
}

.data-sheet-wrapper tr td {
    padding: 10px 20px 11px;
    font-size: 13px;
    color: #222;
}

.text-primary {
    color: var(--web-primary) !important;
}

.btn-primary-filed {
    background-color: #007ea7;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.btn-primary-filed:hover {
    background-color: #007ea7;
    color: #fff;
}

.btn-primary {
    background: #e5f6fd !important;
    box-sizing: border-box;
    margin: 0;
    padding: 16px 20px;
    color: var(--web-primary) !important;
    border: 0;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
}

.btn-primary[aria-expanded="true"] {
    color: #143251 !important;
    background-color: #cce5ed !important;
}

.product-card-2 {
    transition: 0.3s ease;
    width: 100%;
}

.product-card-2:hover {
    box-shadow: 0 0 20px 0 #ddd;
}

.product-card-2 .availability_status {
    font-size: 13px;
    min-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.grid-4-slider.owl-carousel .owl-stage-outer {
    padding: 15px;
    margin: 0 -15px;
}

.product-card-2:hover .add-cart-btn {
    display: flex !important;
    gap: 4px;
}

.product-card-2:hover .availability_status {
    display: none !important;
}

.sub-category-wrapper ul {
    gap: 20px;
}

.subCitems {
    display: block;
    color: #FFF;
    padding: 6px 20px;
    font-weight: 500;
    background-color: #007ea7;
    border: var(--web-primary) solid 1px;
    border-radius: 5px;
}

.subCitems:hover {
    color: #143251;
    background-color: #e5f6fd;
}

.details-list li.hide {
    display: none;
}

.accordion-button {
    font-size: 17px;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--web-primary);
    box-shadow: none;
    padding-bottom: 10px;
}

.accordion-button::after {
    background-image: url(../image/icon-park-outline--down.png) !important;
    background-size: 30px;
    background-position: center;
    width: 20px;
    height: 20px;
}

.accordion-button.no-arrow::after {
    display: none !important;
}

.accordion-body {
    padding: 15px;
}

.form-check {
    color: #777;
}

.form-check-input:focus {
    box-shadow: unset;
    border-color: #dee2e6;
    outline: 0;
}

.form-check .form-check-input {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #FFF;
    border-color: #007ea7;
    background-image: url(../image/fe--check.png);
}

label.form-check-label {
    font-size: 13px;
    cursor: pointer;
}

.filter-list-wrapper {
    max-height: 200px;
    opacity: 1;
    overflow: auto;
}

.noUi-horizontal .noUi-handle {
    background-color: #007ea7;
    width: 14px;
    height: 14px;
    top: -4px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 3px #013359;
    cursor: pointer;
}

.noUi-target {
    background: #e5f6fd;
    border-radius: 4px;
    border: none;
    box-shadow: unset;
    height: 6px;
}

.noUi-horizontal .noUi-handle::after,
.noUi-horizontal .noUi-handle::before {
    display: none;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -8px;
}

.noUi-connect {
    background: #003459;
}

.sort-list-wrapper .form-select {
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form-select:focus {
    box-shadow: unset;
    border-color: #dee2e6;
}

.layout-control a {
    color: #555454;
}

.layout-control a span {
    font-size: 10px;
}

.layout-control a i {
    font-size: 20px;
    line-height: 20px;
}

.page-link:focus {
    box-shadow: unset;
}

.page-link {
    color: var(--web-primary);
}

.page-link.active,
.page-link:hover {
    background-color: #007ea7;
    color: #FFF;
}

.page-link.bg-transparent:hover,
.page-link.bg-transparent:focus {
    color: var(--web-primary);
}

.fixed-bottom {
    box-shadow: 0 -4px 6px rgb(0, 0, 0, 0.1);
}

.filter-button {
    font-size: 16px;
    color: #10304f;
    background-color: #e5f6fd;
    border: var(--web-primary) solid 2px;
    border-radius: 5px;
}

.list-block li a:before {
    content: "\f105";
    display: inline;
    font-family: "FontAwesome";
    color: #333;
    padding-right: 8px;
}

.blog a {
    color: #143251;
    transition: 0.3s ease;
}

a .card-heading:hover {
    color: #007ea7;
}

.btn-web-primary {
    background-color: #e5f6fd;
}

.btn-web-primary:hover,
.btn-web-primary:active {
    background-color: #007ea7;
    color: #fff;
}

.btn-outline-primary {
    border-color: #007ea7 !important;
    color: var(--web-primary) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
    background-color: #007ea7 !important;
    color: #fff !important;
}

#brandslider img {
    opacity: 0.5;
    transition: 0.3s ease;
}

#brandslider img:hover {
    opacity: 1;
}

.cta-footer-top {
    background-image: linear-gradient(45deg, #024f67, #008da6);
}

footer a {
    font-size: 13px;
}

@media (max-width: 991px) {
    .container {
        max-width: 97%;
    }

    a.productss-img img {
        height: 150px;
    }

    h5.product-title {
        font-size: 14px;
    }

    .nav-link {
        font-size: 14px;
    }

    .owl-item,
    .owl-carousel .owl-stage,
    li.item {
        display: flex;
    }

    .owl-item {
        justify-content: center;
    }

    .user-icon {
        font-size: 30px;
    }

    li.breadcrumb-item {
        font-size: 10px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        height: 13px;
        margin-top: 4px;
    }

    h5.single-product-title {
        font-size: 18px;
    }

    .fs-18 {
        font-size: 16px;
    }

    .variants_btn {
        font-size: 10px;
        padding: 5px;
    }

    h2.product-price {
        font-size: 22px;
    }

    #offcanvasFilter {
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .accordion-item {
        border: unset;
        border-bottom: 1px solid #dee2e6;
    }

    .sub-category-wrapper ul {
        gap: 12px;
    }

    .sub-category-wrapper ul li {
        flex-grow: 1;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .top-gap-fixed {
        padding-top: 60px;
    }

    .navbar {
        position: fixed;
        z-index: 999;
    }

    .hero-slider {
        padding-top: 70px !important;
    }

    .navbar-brand {
        max-width: 200px;
    }

    .s-image {
        width: 100% !important;
        max-width: 80px;
    }

    .fss-same {
        font-size: 22px !important;
    }

    nav .cart-btn-wrapper {
        background-color: unset;
        color: var(--web-primary);
        box-shadow: none;
        height: auto;
    }

    .hero-slider .carousel-control-prev {
        left: -12px;
    }

    .hero-slider .carousel-control-next {
        right: -12px;
    }

    .hero-slider .carousel-control-prev,
    .hero-slider .carousel-control-next {
        width: 30px;
        height: 30px;
    }

    .hero-slider .carousel-icon iconify-icon {
        font-size: 20px;
    }

    .product-gallery-wrapper {
        max-width: 300px;
        margin: auto;
    }

    .subCitems {
        font-size: 13px;
    }

    .sub-category-wrapper ul {
        gap: 8px;
    }

    .product-grid .product-desc {
        display: none;
    }

    .product-grid h5.product-title {
        font-size: 12px;
        min-height: 30px;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 590px) {
    .fss-same {
        font-size: 16px !important;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 5px;
        height: 5px;
        margin: 2px 3px;
    }

    section.cta-footer-top h4 {
        font-size: 14px;
    }

    .subCitems {
        font-size: 12px;
    }

    .cta-footer-top span br {
        display: none;
    }

    .cta-footer-top span {
        display: block;
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width: 390px) {
    .nav-link {
        font-size: 12px;
    }

    .product-grid .add-cart-btn.cart-btn-wrapper {
        font-size: 12px !important;
    }
}